<html>
  <body>
<nav class="navbar">
  <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
    <mat-icon style="position: relative; top:30px;  ">menu</mat-icon>      
  </label>
 
 
  <img src="assets/logo.png"  class="logo">
  <!-- <a href="#" class="logo"><span>RESU</span>MICK</a> -->
  <input type="checkbox" id="chkToggle">
  <ul class="main-nav" id="js-menu">
    <li>
      <a href="#" class="nav-links">Home</a>
    </li>
  </ul>
</nav>

<div class="container"> <app-main></app-main></div>


</body>
</html>

